.top-section {
    height: 80vh;
    background-image: linear-gradient(rgb(75, 120, 218, 0.8), rgb(75, 120, 218, 0.8)), url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}